<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#Bio" aria-controls="Bio" role="tab" data-toggle="tab">BIO</a></li>
    <li role="presentation"><a href="#Experience" aria-controls="Experience" role="tab" data-toggle="tab">EXPERINCE</a></li>
    <li role="presentation"><a href="#Education" aria-controls="Education" role="tab" data-toggle="tab">EDUCATION</a></li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active in fade" id="Bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore voluptatem ducimus. Soluta, voluptas, omnis! Possimus quia dolorem non ex reiciendis explicabo, distinctio quos! Culpa earum error adipisci numquam sit?</div>
    <div role="tabpanel" class="tab-pane fade" id="Experience">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque molestiae beatae, culpa iure quibusdam veniam suscipit, obcaecati illum mollitia soluta, facilis consectetur deserunt totam laboriosam necessitatibus itaque ad nulla?</div>
    <div role="tabpanel" class="tab-pane fade" id="Education">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ipsa repudiandae dolores ducimus eveniet ratione placeat dicta, et rem necessitatibus nisi blanditiis velit quod, at vel libero non asperiores. Ipsum?</div>
  </div>
</div>
