.tabs {
	padding-bottom: 15px;
}

.nav-tabs {
	border-bottom: 1px solid rgba(255,255,255, 1);

	a {
		color: rgba(255,255,255, 1);

	}

	li, a {
		border-radius: 0px;
		border-bottom: 0px;

		&:hover {
			color: white;
			background-color: rgba(255,255,255, .10);
			-webkit-transition: background-color .5s;
    	transition: background-color .5s;
		}
	}

	.active > a {
		color: white;
		background-color: rgba(255,255,255, .25);
		border-bottom: none;
		-webkit-transition: background-color .5s;
    	transition: background-color .5s;
	}

	@media(max-width: 768px) {
		padding: 10px 0;

		a {
			border: 1px solid white;
		}

		.active > a {
			border-bottom: 1px solid white;
		}

	}
}

.tab-pane {
	.ex-lead {
		padding: 5px 0 0 0;
	}

	h3 {
		display: inline;
	}

	i {
		display: inline;
	}

	.dates {
		font-size: .90em
	}
}
