.tabs {
	padding-top: 5px;
	padding-bottom: 15px;
}

.nav-tabs {
	border-bottom: 1px solid rgba(255,255,255, 1);

	a {
		color: rgba(255,255,255, 1);

	}

	li, a {
		border-radius: 0px;
		border-bottom: 0px;

		&:hover {
			background-color: rgba(255,255,255, .10);
			-webkit-transition: background-color .5s;
    	transition: background-color .5s;
		}
	}

	.active > a {
		color: #262D35;
		background-color: rgba(255,255,255, .25);
		-webkit-transition: background-color .5s;
    transition: background-color .5s;
	}	
}
