<div class="tabs">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#Bio" aria-controls="Bio" role="tab" data-toggle="tab">BIO</a></li>
    <li role="presentation"><a href="#Experience" aria-controls="Experience" role="tab" data-toggle="tab">EXPERIENCE</a></li>
    <li role="presentation"><a href="#Education" aria-controls="Education" role="tab" data-toggle="tab">EDUCATION</a></li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active in fade" id="Bio">
      <p>I’m a front end developer now, but I didn’t used to be. I graduated college in 2009 with a degree in management and marketing, and today I’m what famous career coach Emilie Wapnick would call a “multipotentialite” - someone who has numerous creative and professional pursuits, and is better for it.</p>
      <p>I started studying web development as a hobby a near decade ago - something I would dabble in on nights and weekends. Soon I realized that I enjoyed my nights and weekends more than my weekdays, and started down a path that would redirect my entire career.</p>
      <p>I moved from a relatively small market in the Midwest to San Diego in 2014, with plans to start a career in software development. I started as a junior web developer at a market research company in Downtown San Diego, and soon progressed to Project Lead for a complex subset of our business.</p>
      <p>I primarily work in XML and Python using the Decipher research platform in my day-to-day, but in my freetime I study all things Front-End from JavaScript, to Angular 2. I also sometimes tinker with Node.</p>
      <p>My hope is to join a company that will give me the opportunity to learn new things, and blaze new trails.</p>
    </div>
    
    <div role="tabpanel" class="tab-pane fade" id="Experience">
      <div class="ex-lead"><h3><strong>Web Developer</strong></h3><i> ,Luth Research LLC​</i><i class="pull-right dates">August 2014 - Present</i></div>      
      <ul>
        <li>Program and manage online market research studies including a range between large digital engagement projects, to custom market segmentations. Clients include Microsoft, Google, Ford and Intel. Budget ranging between $55k, and $500k.</li>
        <li>Develop Python scripts, and XML Markup for real-time market analysis and pricing algorithms (Discrete Choice Model) for online surveys, hosted on the Decipher survey platform.</li>
        <li>Design, develop, and implement new productivity tools for online project management team. Technologies used include HTML, CSS, JavaScript and Twitter Bootstrap.
        </li>
        <li>Program and deploy customized HTML emails for targeted online market research campaigns.</li>
      </ul>
      <div class="ex-lead"><h3><strong>General Manager</strong></h3><i>, Enterprise Holdings LLC​​</i><i class="pull-right dates">August 2009 - August 2014</i></div>
        <ul>
          <li>Grew branch to over 50% market share by aggressively pricing out airport competitors, and acquiring new corporate accounts while maintaining a 10% profit ­growth goal per month.</li>
          <li>Managed team between 20-30 people including management trainees, customer service representatives, service agents, and maintenance crew.</li>
          <li>Responsible for hiring and training new agents who were coached to provide award­-winning customer service and sales (five hand-picked new hires were promoted to assistant manager within 12 months).</li>
          <li>Raised annual customer service score 12% by elevating goal expectations and training rental agents to a higher standard of customer service. These changes resulted in an 89% customer­ satisfaction rating.</li>
        </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="Education">
      <div class="ex-lead"><h3><strong>Evangel University</strong></h3><i class="pull-right dates">2005 - 2009</i></div>
      <ul>
        <li>Bachelor of Science in Marketing</li>
        <li>Bachelor of Science in Business Management</li>
      </ul>
      <div class="ex-lead"><h3><strong>Continued Education</strong></h3></div>
      <ul>
        <li>Java 1 (Rio Salado College) - Undergraduate</li>
        <li>Codecademy.com (HTML, CSS, JavaScript, Angular.js)</li>
        <li>Angular 2: First Look (Pluralsigh.com)</li>
        <li>Building Web Applications with Node.js and Express 4.0 (Pluralsight.com)</li>
        <li>RethinkDB Fundamentals (Pluralsigh.com)</li>
      </ul>
    </div>
  </div>
</div>
