<!-- component container -->
<div class="">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="text-center section-title">Andrew Meiling | Front-End Developer</h1>
			<hr />
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<!-- Add the picture slider that I was talking about building -->
			<!-- This should be it's own child component -->
			<div class="box">
				

				<!-- add child slider component -->
				<tm-carousel></tm-carousel>
				
			</div>

		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<!-- Add the tabs table with the headers of  -->
			<!-- bio, education, work experience,  ?? ref's ??, -->
			<!-- This should be it's own child component -->
			<div class="box">
				
				<tm-togglable-tabs></tm-togglable-tabs>

				<!-- add child component -->
			</div>
		</div>
	</div>
</div><!--  /container -->
