//== ABOUT ME ==//

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Orbitron';

.container {
	background-color: #262D35;
}

// component placement
.site-wrapper {
	color: rgba(255,255,255, 1);
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding-top: 60px;
}

/* Cover: This is the centered container element in the middle of the page */
.cover {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(0, -50%);
  background-color: #262D35;
}

// component styles!!!
h1 {
	font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.box {
	width: 100%;
	height: 100%;
	border: 1px solid white;
}

.section-title {
	margin-top: 45px;
	margin-bottom: 45px;
}

hr {
	border-color: black;
	width: 100%;
	right: 0;
}

