// make sure this is responsive:
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Orbitron';

h1 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 48px;
  padding: 48px 0;
}

// component placement
.site-wrapper {
	color: rgba(255,255,255, 1);
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding-top: 60px;
}

/* Cover: This is the centered container element in the middle of the page */
// old:
// .cover {
//   position: absolute;
//   background-color: #262D35;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-attachment: fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
  
//   @media(min-width: 768px) {
//     width: 100%;
//   }
// }

/* Cover: This is the centered container element in the middle of the page */
.cover {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(0, -50%);
  background-color: #262D35;
}

.contact-block {
  background-color: rgba(255,255,255,.10);
  border: 1px solid rgba(255,255,255,.25);
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 48px;
}

// component styles
.contact-form {

}

::-webkit-input-placeholder {
   color: rgba(255,255,255,.75);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,.75);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,.75);  
}

:-ms-input-placeholder {  
   color: rgba(255,255,255,.75);  
}

label {
  display: none;
}

input, textarea {
  width: 100%;
  padding: 20px 20px;
  margin: 15px 0;
  box-sizing: border-box;
  border-radius: 0px;
  border: 1px solid rgba(255,255,255, .25);
  background-color: rgba(255,255,255, .10);
  color: rgba(255,255,255, 1);
  font-family: 'Orbitron', sans-serif;
}

textarea:focus, input:focus {
  border: 1px solid rgba(255,255,255, .75);
  -webkit-transition: border .5s;
  transition: border .5s;
  background-color: rgba(255,255,255, .25);
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.btn {
		border-radius: 0;
		background-color: rgba(255,255,255, .10);
		color: white;
    margin: 10px 0;
    padding: 25px 55px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid rgba(255,255,255, .25);
    font-family: 'Orbitron', sans-serif;
    
}

.btn:link {
    border-radius: 0;
    background-color: rgba(255,255,255, .10);
    color: white;
    margin: 10px 0;
    padding: 25px 55px;
    font-family: 'Raleway', sans-serif;
  }

  .btn:visited {
    border-radius: 0;
    background-color: rgba(255,255,255, .10);
    color: white;
    margin: 10px 0;
    padding: 25px 55px;
    font-family: 'Raleway', sans-serif; 
  }

  // need to add an animation
  input:hover, input:focus, 
  textarea:hover, textarea:focus, 
  .btn:hover, .btn:focus{
    background-color: darken(rgba(255,255,255, .10), 100);
    border-color: rgba(255,255,255, 1); 
    color: white;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
  }

  .btn:active {
    background-color: rgba(0,34,45, .50);
    border-color: rgba(255,255,255, 1);
    color: white;
  }

  .btn:focus {
    outline:none;
    border: 1px solid rgba(255,255,255,.75);
  }

