// TOP NAV
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Orbitron';
#mainNav {
	// gneral nav styles:
	background-color: rgba(255,255,255,.10);
	border-bottom: 1px solid rgba(255,255,255,.25);
	
	.hamburger {
		margin:3px -15px 0 0;
		
		&:focus {
			outline:none;
		}
	}

	.navbar-brand {
		height: 60px;
	}

	.active {
		background-color: rgba(255,255,255,.25);
		color: rgba(255,255,255,1);
	}

	.links {
		padding-right: 15px;
		padding-left: 15px;
		margin-top: 4px;
		margin-bottom: 0px;

		@media(max-width: 768px) {
			background-color: rgba(255,255,255, .75);
		}
	}

	li {
		color: white;
		border: 1px solid rgba(255,255,255, 0);
	}
	
	li:hover {
		border: 1px solid rgba(255,255,255, .75);
		-webkit-transition: border .5s;
    	transition: border .5s;
		background-color: lighten(rgba(255,255,255,.25), 100);
		-webkit-transition: background-color .5s;
    	transition: background-color .5s;
	}

	a {
		color: rgba(255,255,255, 1);
		font-family: 'Raleway', sans-serif;
  		color: rgba(255,255,255, 1);
  		font-family: 'Orbitron', sans-serif;
	}
	
	a img.saturn-icon {
  	padding: 0 0 0 15px;
	}

	.box {
		padding-top: 10px;
		margin-top: 20px;
		border: 1px solid black;
		position: fixed;
		float: right;
		right: 15px;
		background-color: red;
		width: 250px;
		display:none;

		ul {
			li {
				list-style-type: none;
				left: 25px;
			}
		}
	}

	.is-open {
		display: block;
	}

	@media (min-width: 768px) {
		.hamburger {
			margin-right: 5px;
		}
	}
}