<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
				<div class="container" >
					
				<div class="row">
					<div class="col-sm12">
						<div class="jumbotron">
							<p class="center-block">As a lover of basically most things JavaScript, recently I have focused all of my time learning to build amazing web appilcation using all things JavaScript. See my recent perude skills below.</p>
						</div>
					</div>
				</div>

				<div class="row">
						<div class="col-sm-6">
							<ul>
								<li>Just a few random things that need to be added to the portfolio!</li>
								<li>Just a few random things that need to be added to the portfolio!</li>
								<li>Just a few random things that need to be added to the portfolio!</li>
								<li>Just a few random things that need to be added to the portfolio!</li>
								<li>Just a few random things that need to be added to the portfolio!</li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul>
								<li>Just a few random things that need to be added to the portfolio!</li>
								<li>Just a few random things that need to be added to the portfolio!</li>
								<li>Just a few random things that need to be added to the portfolio!</li>
								<li>Just a few random things that need to be added to the portfolio!</li>
								<li>Just a few random things that need to be added to the portfolio!</li>
							</ul>
						</div>
				</div>

				<div class="row" id="doughnuts">
						<div class="col-sm-4">
						<h2 class="center-block">Html</h2>
							<html-doughnut></html-doughnut>
						</div>
						<div class="col-sm-4">
						<h2 class="center-block">Css</h2>
							<css-doughnut></css-doughnut>
						</div>
						<div class="col-sm-4">
						<h2 class="center-block">JavaScript</h2>
							<js-doughnut></js-doughnut>
						</div>
				</div>	

				</div><!-- ./container -->
			</div><!-- ./inner cover -->
		</div><!-- ./cover-container -->
	</div><!-- ./site-wrapper-inner -->
</div><!-- ./site-wrapper -->