<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
				<div class="container" >
					
				<div class="row">
					<div class="col-sm-12">
						<div class="jumbotron">
							<h1>My Mission:</h1>
							<P>Maximize user experience through, I need to add some more text to this area. I really just don't know what to write.</P>
							<a routerLink="/portfolio" class="btn btn-lg btn-default">See My Work <i class="fa fa-space-shuttle" aria-hidden="true"></i></a>
							
						</div>
					</div>
				</div>

				<div class="row vcenter">
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 logo-col">
						<img class="img-responsive center-block logo-img" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473579396/GITHUB_voh1ve.png" alt="">
					</div>
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 logo-col">
						<img class="img-responsive center-block logo-img" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473579686/ANGULAR_r5xic9.png" alt="">
					</div>
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 logo-col">
						<img class="img-responsive center-block logo-img" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473579832/NODE_httbjf.png" alt="">
					</div>
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 logo-col">
						<img class="img-responsive center-block logo-img" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473580775/SASS_m3mino.png" alt="">
					</div>
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 logo-col">
						<img class="img-responsive center-block logo-img" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473580770/NPM_b9jl3o.png" alt="">
					</div>
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 logo-col">
						<img class="img-responsive center-block logo-img" src="https://res.cloudinary.com/drkmakxkk/image/upload/v1473582355/BOOTSTRAP_tsesvi.png" alt="">
					</div>

				</div>
				
				<div class="row">
					

						<div class="col-sm-4 doughnut">
							<h2>Html</h2>
							<html-doughnut></html-doughnut>
						</div>

						<div class="col-sm-4 doughnut">
							<h2>Css</h2>
							<css-doughnut></css-doughnut>
						</div>

						<div class="col-sm-4 doughnut">
							<h2>JavaScript</h2>
							<js-doughnut></js-doughnut>
						</div>
						
				</div>	

				</div><!-- ./container -->
			</div><!-- ./inner cover -->
		</div><!-- ./cover-container -->
	</div><!-- ./site-wrapper-inner -->
</div><!-- ./site-wrapper -->