// component placement
.container {
  background-color: #262D35;
}

.site-wrapper {
	color: rgba(255,255,255, 1);
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding-top: 60px;
}

/* Cover: This is the centered container element in the middle of the page */
.cover {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(0, -50%);
  background-color: #262D35;
}

.deck {
  padding-top: 20px;
  // padding-bottom: 20px;
}

//cards
.card {
  padding-top: 10px;
  border: 1px solid rgba(255,255,255, .25);
  background-color: rgba(255,255,255, .10);
}

img {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  padding: 10px;
  border: 1px solid rgba(255,255,255, .25);
  background-color: rgba(255,255,255, .10);
  border-radius: 0px;
}

a {
    color: rgba(255,255,255, .75);
}
.button-row {
  margin-top: 15px;
  margin-bottom: 15px; 
  width: 85%;
}

.fa {
  padding-right: 10px;
}

h2 {
  text-align: center;
  margin-top: 0px;
}