@import 'https://fonts.googleapis.com/css?family=Open+Sans|Orbitron';

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

h2 {
	color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

.site-wrapper {
	color: rgba(255,255,255, 1);
  background-color: #819FC2;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding-top: 60px;
    height: 100%;
}

/* Cover: This is the centered container element in the middle of the page */
.cover {
  position: absolute;
  background-color: #262D35;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  @media(min-width: 768px) {
    width: 100%;
  }
}

.deck {
  padding-top: 20px;
  // padding-bottom: 20px;
}

//cards
.card {
  padding-top: 10px;
  border: 1px solid rgba(255,255,255, .25);
  background-color: rgba(255,255,255, .10);
}

img {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  padding: 10px;
  border: 1px solid rgba(255,255,255, .25);
  background-color: rgba(255,255,255, .10);
  border-radius: 0px;
}

a {
    color: rgba(255,255,255, .75);
}
.button-row {
  margin-top: 15px;
  margin-bottom: 15px; 
  width: 85%;

    // need to add an animation
  .btn:hover {
    background-color: darken(rgba(255,255,255, .10), 100);
    border-color: rgba(255,255,255, 1); 
    color: white;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
  }

  .btn:active {
    background-color: rgba(0,34,45, .50);
    border-color: rgba(255,255,255, 1);
    color: white;
  }

  .btn:focus {
    outline:none;
    border: 1px solid rgba(255,255,255,.75);
  }
}

.fa {
  padding-right: 10px;
}

h2 {
  text-align: center;
  margin-top: 0px;
}