<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
				<div class="container">
					
					<div class="jumbotron">
						<h1 class="cover-heading">Hi,</h1>
						<h1 class="cover-heading">My name is Andrew</h1>
						<h2 class="cover-subheading">I'm a Front-End web developer in San Diego</h2>
						<p class="lead"><a routerLink="/about" class="btn btn-lg btn-default">More about me</a></p>	
					</div><!-- ./jumbotron -->

				</div><!-- ./container -->
			</div><!-- ./inner cover -->
    </div><!-- ./cover-container -->
  </div><!-- ./site-wrapper-innter -->
</div><!-- ./site-wrapper -->

