<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
				<div class="container">
									
					<div class="row">
						<div class="jumbotron">
							<h1 class="cover-heading">Greetings,</h1>
							<h1 class="cover-heading">I'm Andrew!</h1>
							<h2 class="cover-subheading">A Front-End Web Developer in San Diego</h2>
							<p class="lead"><a routerLink="/about" class="btn btn-lg btn-default">Learn More <i class="fa 	fa-space-shuttle" aria-hidden="true"></i></a></p>	
						</div><!-- ./jumbotron -->
					</div>

				</div><!-- ./container -->
			</div><!-- ./inner cover -->
    </div><!-- ./cover-container -->
  </div><!-- ./site-wrapper-innter -->
</div><!-- ./site-wrapper -->

